# Server
NODE_ENV=development
PORT=3000


# Atlas:  mongodb+srv://<user>:<password>@<cluster>.mongodb.net/social_blog?retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_this_with_a_long_random_string_at_least_32_chars
JWT_EXPIRES_IN=1h

