# Server
NODE_ENV=development
PORT=3000


# Atlas:  mongodb+srv://<user>:<password>@<cluster>.mongodb.net/social_blog?retryWrites=true&w=majority
MONGO_URI=mongodb://devSackey:7qVeMlei0KZxBdEn@ac-u8p8mxc-shard-00-00.tgs95ol.mongodb.net:27017,ac-u8p8mxc-shard-00-01.tgs95ol.mongodb.net:27017,ac-u8p8mxc-shard-00-02.tgs95ol.mongodb.net:27017/?ssl=true&replicaSet=atlas-d4zv7c-shard-0&authSource=admin&appName=Cluster0

# JWT
JWT_SECRET=replace_this_with_a_long_random_string_at_least_32_chars
JWT_EXPIRES_IN=1h

