# Server
NODE_ENV=development
PORT=3000

# Local:  mongodb://127.0.0.1:27017/social_blog
# Atlas:  mongodb+srv://<user>:<password>@<cluster>.mongodb.net/social_blog?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/social_blog

# JWT
JWT_SECRET=replace_this_with_a_long_random_string_at_least_32_chars
JWT_EXPIRES_IN=1h

# TEST_MONGO_URI=mongodb://127.0.0.1:27017/social_blog_test